@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
body, h1, h2, h3, h4, h5, h6 {
	font: 100%/1.5em 'Source Sans Pro', sans-serif;
	color: #73879c;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
	display: block;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}
a:link, a:visited {
	color: inherit;
}
a:hover {
	text-decoration: none;
}
input:focus {
	outline: none;
}
/*   GENERAL STYLE   */
html, body {
	height: 100%;
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}
#page-wrap, header, nav, section, footer {
	width: 100%;
}
.content-wrap {
	width: 62.5%;
	max-width: 1200px;
	margin: 0 auto;
}
.clear:after {
	content: '';
	display: block;
	clear: both;
}
/*   HEADER   */
.header {
	color: #506a85;
	background: #f5f7fa;
	border-bottom: #e6e9ed;
	height: 41px;
	line-height: 41px;
	font-size: 0.75em;
}
.contact-info:before {
	content: '';
	display: inline-block;
	background: url('../img/sprites.png');
}
.contact-info--mail:hover {
	color: #00bc9c;
}
.contact-info--mail:hover:before {
	background-position: 13px -18px;
	cursor: pointer;
}
.contact-info--mail:before {
	width: 11px;
	height: 9px;
	margin-right: 8px;
	background-position: 13px -30px;
}
.contact-info--tel:before {
	width: 9px;
	height: 13px;
	margin: 0 10px 0 28px;
	background-position: 9px -42px;
}
.socials {
	width: 180px;
	height: 40px;
	overflow: hidden;
	float: right;
}
.socials__item {
	display: inline-block;
	width: 30px;
	height: 40px;
}
.socials__link {
	display: block;
	width: 100%;
	height: 100%;
	background: url('../img/sprites.png');
}
.socials__link--f {
	background-position: 0 0;
}
.socials__link--g {
	background-position: -30px 0;
}
.socials__link--t {
	background-position: -60px 0;
}
.socials__link--p {
	background-position: -90px 0;
}
.socials__link--b {
	background-position: -120px 0;
}
.socials__link--d {
	background-position: -150px 0;
}
.socials__link--f:hover {
	background: #4668b3 url('../img/sprites.png');
	background-position: 0 -40px;
}
.socials__link--g:hover {
	background: #de5745 url('../img/sprites.png');
	background-position: -30px -40px;
}
.socials__link--t:hover {
	background: #2fbbed url('../img/sprites.png');
	background-position: -60px -40px;
}
.socials__link--p:hover {
	background: #d94348 url('../img/sprites.png');
	background-position: -90px -40px;
}
.socials__link--b:hover {
	background: #3079ff url('../img/sprites.png');
	background-position: -120px -40px;
}
.socials__link--d:hover {
	background: #eb6397 url('../img/sprites.png');
	background-position: -150px -40px;
}
/*   NAV   */
.nav {
	height: 112px;
	line-height: 112px;
	border-bottom: 1px solid #e6e9ed;
}
/*   Logo   */
.logo {
	margin-top: 36px;
}
.logo:hover {
	opacity: .6;
}
/*   Main-menu   */
.main-menu__item {
	display: inline-block;
	position: relative;
	height: 51px;
	line-height: 51px;
	text-transform: uppercase;
	color: #506a85;
	font-size: 0.833em;
	font-weight: bold;
	padding: 0 22px;
	cursor: pointer;
}
.main-menu__item:hover {
	color: #00bc9c;
	background: #f5f7fa;
	border-radius: 2px;
	border: 1px solid #e6e9ed;
	padding: 0 20px;
}
.main-menu__inner {
	display: none;
}
.main-menu__item:hover .main-menu__inner {
	display: block;
	position: absolute;
	background: #f5f7fa;
	color: #73879c;
	width: 210px;
	top: 48px;
	left: -1px;
	border: 1px solid #e6e9ed;
	border-top: 0;
}
.main-menu__inner-item {
	padding-left: 21px;
}
.main-menu__inner-item:hover {
	background: #00bc9c;
	color: #fff;
}
/*   Mega-menu   */
.main-menu__item:hover .main-menu__inner.mega-menu {
	width: 1170px;
	position: absolute;
	top: 48px;
	left: -660px;
	cursor: default;
	padding-bottom: 40px;
}
.mega-menu__item {
	padding: 35px 0 0;
}
.mega-menu__wrap {
	padding: 0 25px;
}
.mega-menu__item h3 {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	margin-bottom: 30px;
}
.mega-menu__item p {
	font-size: 1em;
	line-height: 1.5em;
	font-weight: normal;
	text-transform: initial;
	margin-bottom: 25px;
}
.mega-menu__item:hover {
	cursor: default;
}
.mega-menu__img-wrap {
	position: relative;
	margin-bottom: 28px;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 188, 156, 0.9);
	cursor: pointer;
	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	-ms-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	transition: opacity 1s ease;
}
.overlay:after {
	content: '';
	display: block;
	width: 22px;
	height: 22px;
	background: url('../img/sprites.png') 51px 36px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -11px 0 0 -11px;
}
.overlay:hover {
	opacity: 0;
}
/*   Normal-list   */
.normal-list {
	font-size: 1em;
	font-weight: normal;
	text-transform: none;
	line-height: 2em;
	white-space: nowrap;
}
.normal-list__item {
	padding-left: 24px;
}
.normal-list__item:hover {
	color: #00bc9c;
}
.normal-list__item:before {
	content: '';
	width: 10px;
	height: 10px;
	background: url('../img/sprites.png') 14px 33px;
	position: absolute;
	left: 0;
	top: 8px;
}
.normal-list__item a {
	display: block;
	width: 100%;
	height: 100%;
}
/* Custom-btn*/
a.custom-btn-green {
	padding: 10px 15px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	background: #17a78b;
	border-bottom: #148e76;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	behavior: url("../htc/PIE.htc");  /*  IE6++  */
	position: relative;
}

/*   Search   */
.search__input {
	border: 0;
	color: #506a85;
}
label[for="search1"] {
	width: 16px;
	height: 16px;
	background: url('../img/sprites.png') 15px 0px;
	float: right;
	margin-top: 48px;
	cursor: pointer;
}



/*   FLUID GRID   */
.row:after {
	content: '';
	display: block;
	clear: both;
}
.colls {
	float: left;
	margin: 0 1.25%;
}
.colls--right {
	float: right;
}
.colls.col-1   {width: 5.833%;}
.colls.col-2   {width: 14.166%;}
.colls.col-3   {width: 22.5%;}
.colls.col-4   {width: 30.833%;}
.colls.col-5   {width: 39.166%;}
.colls.col-6   {width: 47.5%;}
.colls.col-7   {width: 55.833%;}
.colls.col-8   {width: 64.166%;}
.colls.col-9   {width: 72.5%;}
.colls.col-10 {width: 80.833%;}
.colls.col-11 {width: 89.166%;}
.colls.col-12 {width: 97.5%;}

/*   MEDIA QUERIES   */
@media screen and (max-width: 980px) {

}
@media screen and (max-width: 650px) {

}
@media screen and (max-width: 480px) {
	html {
		-webkit-text-size-adjust: none; /* По умолчанию iPhone увеличивает размер шрифта - отключаем */
	}
}
@media only screen and (min-width: 320px) {
  /* Small screen, non-retina */
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) {
  /* Small screen, retina, stuff to override above media query */
}
@media only screen and (min-width: 700px) {
  /* Medium screen, non-retina */
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 700px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (                min-resolution: 192dpi) and (min-width: 700px),
only screen and (                min-resolution: 2dppx)  and (min-width: 700px) {
  /* Medium screen, retina, stuff to override above media query */
}
@media only screen and (min-width: 1300px) {
  /* Large screen, non-retina */
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (                min-resolution: 192dpi) and (min-width: 1300px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1300px) {
  /* Large screen, retina, stuff to override above media query */
}